.bridalparty {
  margin: 0 1rem;

  &__copyright{
    position: absolute;
    width: 100%;
  }


  &__photoDenise,
  &__photoDeniseInsta{
    position: absolute;
    font-size: 10px;
  }

  &-info{
    text-align: center;
    margin-top: 6rem;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    &-header{
      font-weight: 500;
    }
  }

  &-role{
    font-size: 1.5rem;
    font-weight: bold;

    &__contact{
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }
    &-inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
      gap: 1.5rem;
      align-items: center;
      margin-top: 4rem;
      justify-content: center;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease-out, transform 1s ease-out;
  
      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
  
      &__member {
        h2 {
          font-family: 'BrittanySignature', sans-serif;
          font-size: 2.5rem;
        }

        p{
          margin-bottom: 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
  
        &-info {
          text-align: center;
          font-family: 'Josefin Sans', cursive;
  
          a {
            position: relative;
            text-decoration: none;
            color: #214f1c;
            padding: 5px 10px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.5rem;
            transition: color 0.3s ease;
          }
          
          a::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: rgb(97, 119, 112);
            transition: all 0.3s ease;
            transform: translateX(-50%);
            z-index: 99;
            pointer-events: none;
          }
          
          a:hover::after {
            width: 100%;
          }
          
          a:hover {
            color: rgb(97, 119, 112);
          }
        }
  
        &-img {
          width: 250px;
          height: 250px;
          border-radius: 100%;
          object-fit: cover;
          position: relative;

          &__ronja{

            img{
            scale: 1.2;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 996px) {

      .bridalparty-inner {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }
    }
  }
  