.rsvp-form {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Mjuk rosa bakgrund */
  color: #333;
  padding: 40px;
  margin: 0;
  max-width: 450px;
  border-radius: 15px;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  backdrop-filter: blur(10px);
  margin-top: 5rem;

  &__photoDenise{
    font-size: 16px;
    position: absolute;
    color: rgb(150, 150, 150);
    bottom: 20px;
    right: 0;
    margin-right: 2rem;
    font-weight: 100;
  }

  &__photoDeniseInsta{
    font-size: 16px;
    color: rgb(150, 150, 150);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    font-weight: 100;
  }

  &__photo {
    position: fixed; /* Gör att bilden fyller hela sidan */
    top: 0;
    left: 0;
    width: 100%; /* Täck hela sidbredden */
    height: 100%; /* Täck hela sidans höjd */
    background: linear-gradient(to bottom, rgba(230, 220, 202, 0.99), rgba(0, 0, 0, 0.5)), 
                url('/images/RSVP-photo-two.jpg'); /* Gradient och bild */
    background-size: cover; /* Gör att bilden täcker hela området och behåller rätt proportioner */
    background-position: center; /* Centrera bilden */
    z-index: -1; /* Placera bilden bakom innehållet */
    opacity: 1; /* Bilden är helt synlig */
  }
  

    &__header{
      font-family: 'BrittanySignature', sans-serif;
      font-size: 2.5rem;
      text-align: center;
      margin-top: 0;
      margin-bottom: 3rem;
      color: #214f1c;
    }
}

.content-container{
      display: flex;
      justify-content: center;
      transform: translateY(20px);
      transition: opacity 1s ease-out, transform 1s ease-out;
      align-items: flex-start;
      gap: 8rem;
      object-fit: cover;
      overflow: hidden;
      padding-bottom: 25rem;


      &.visible{
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .content-inner{
      max-width: 740px;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin: 5rem 1rem 1rem 1rem;
      color: #111111;
}

.content-header{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #111111;
}

.content-paragraph{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
  color: #111111;
}
  label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    color: #214f1c; /* Mjuk brunrosa färg */
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px 0 12px 12px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Mjuka hörn */
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Liten inre skugga */
    }
  
  input:focus, select:focus, textarea:focus {
    border-color: #b56576; /* Fokusfärg */
    outline: none;
    box-shadow: 0px 0px 5px rgba(181, 101, 118, 0.5); /* Fokus skugga */
  }

.rsvp-buttons{
  gap: 2rem;

  button{
    width: 100%;
  }
}

.buttons-bottom{
  display: flex;
  gap: 2rem;
  width: 100%;
}
  
  button {
    background-color: rgb(97, 119, 112); /* Djupt rosa */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px; /* Rundade hörn på knapparna */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lätt skugga */
    transition: background-color 0.3s ease; /* Smidig övergång på hover */
  }
  
  button:hover {
    background-color: #a34d5d; /* Mörkare färg vid hover */
  }

  p{
    font-size: 24px;
    max-width: 600px;
  }
  
.form-group {
    margin-bottom: 5px;
}
  
  textarea {
    resize: vertical;
  }
  
  .thank-you-message {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #1e1e1e;
    font-size: 2rem;
    margin-top: 2rem;
}

.thank-you__message-no{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #1e1e1e;
    font-size: 1.5rem;
    margin-top: 2rem;

    h2{
      font-weight: 100;
    }
}
  
  .thank-you-message {
    text-align: center;
    margin-top: 20px;
  }

.form-header{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: #214f1c;
}

.form-submit__button{
  margin-top: 1rem;
}

.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}


/* Media Queries */
@media only screen and (max-width: 1450px) {
  .content-inner {
      max-width: 500px;
  }

  .rsvp-form{
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 1110px){
  .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    button{
      margin-bottom: 1rem;
    }

    .rsvp-form__photo{
      // border-top: solid black 1px;
      height: 115%;
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 560px){
  .buttons-bottom{
    flex-direction: column;
    gap: 0.5rem;
  }

  .rsvp-form{
    margin: 0 1rem;
  }
  

  .rsvp-form__photo{
    // border-top: solid black 1px;
    height: 117%;
    width: 100vw;
  }

  .form-submit__button{
    height: 70px;
  }
}