  /* Grundstil för tidslinjen */

img{
  overflow: hidden;
}

.schedule-flower1{
  position: absolute;
  right: -52%;
  width: 600px;
  opacity: 40%;
  top: 20%;
}

.schedule-flower2__container{
  transform: scaleX(-1);
}

.schedule-flower2{
  position: absolute;
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  width: 600px;
  left: 85%;
  opacity: 40%;
}

.timeline-event {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  
}

.timeline-event.visible {
  opacity: 1;
  transform: translateY(0);
}

.wedding-party-timeline {
  width: 100%;
  overflow: hidden;
}

.wedding-party-timeline__inner{
  position: relative;
  max-width: 900px;
  margin: 0rem auto;
  padding: 2rem 0;
}
  
  /* Stil för varje händelse */
  .timeline-event {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  .bus-picture{
    width: 45px !important;
    height: 45px !important;
  }
  
  .timeline-event.left {
    justify-content: flex-start;
    padding-left: 60px; /* Flyttar händelsen till vänster om linjen */
  }
  
  .timeline-event.right {
    justify-content: flex-end;
    text-align: right; /* Texten till höger */
  }
  .timeline-event.right-food {
    justify-content: flex-end;
    padding-right: 60px; /* Flyttar händelsen till höger om linjen */
    text-align: right; /* Texten till höger */
  }

  .timeline-event.left.left-dinner {
    justify-content: flex-start;
    padding-left: 125px; /* Flyttar händelsen till vänster om linjen */
  }

  .timeline-event.right-cake {
    justify-content: flex-end;
    padding-right: 140px; /* Flyttar händelsen till höger om linjen */
    text-align: right; /* Texten till höger */
  }

  .timeline-event.left.left-dance {
    justify-content: flex-start;
    padding-left: 80px; /* Flyttar händelsen till vänster om linjen */
  }

  .timeline-event.right-kids {
    justify-content: flex-end;
    padding-right: 110px; /* Flyttar händelsen till höger om linjen */
    text-align: right; /* Texten till höger */
  }

  .timeline-event.left.left-wave {
    justify-content: flex-start;
    padding-left: 70px; /* Flyttar händelsen till vänster om linjen */
  }
  
  /* Vertikala streck för varje händelse */
  .timeline-event::before {
    content: "";
    position: absolute;
    left: 400px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background-color: #b9a685; /* Färg för strecken */
  }
  
  .timeline-event.right::before {
    left: auto;
    right: 400px;
  }
  .timeline-event.right-food::before {
    left: auto;
    right: 400px;
  }
  
  /* Stil för tiden och händelsedetaljerna */
  .event-time {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #705d56;
  }
  
  /* Flyttar tiden för högersidan till höger om händelsen */
  .timeline-event.right .event-time {
    order: 2; /* Ändrar ordningen för att placera tiden på höger sida */
    margin-left: 1rem; /* Skapar mellanrum till vänster om tiden */
    margin-right: 0;  /* Tar bort mellanrum till höger */
  }
  
  .timeline-event.left .event-time {
    margin-right: 1rem;
  }
  
  .event-details {
    background-color: #e6dcca;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .event-description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Stil för ikoner */
  .event-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .event-icon img {
    width: 100%;
    height: auto;
  }
  
  /* Pseudo-element för vertikal linje */
  .wedding-party-timeline__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #b9a685;
    transform: translateX(-50%);
  }
  
  /* Media queries för responsiv design */

  @media only screen and (max-width: 2000px) {

    .schedule-flower1{
      top: 60px;
      right: -67%;
      width: 400px;
    }

    .schedule-flower2{
      left: 113%;
      width: 500px;
    }
  }

  @media only screen and (max-width: 1800px) {

    .schedule-flower1{
      top: 60px;
      right: -57%;
      width: 400px;
    }

    .schedule-flower2{
      left: 103%;
      width: 500px;
    }
  }

  @media only screen and (max-width: 1600px) {

    .schedule-flower1{
      top: 60px;
      right: -45%;
      width: 400px;
    }

    .schedule-flower2{
      left: 92%;
      width: 500px;
    }
  }

  @media only screen and (max-width: 1320px) {

    .schedule-flower1{
      top: 60px;
      right: -30%;
      width: 400px;
    }
  }


  @media only screen and (max-width: 1200px) {

    .schedule-flower1{
      top: 60px;
      right: -24%;
      width: 400px;
    }

    .schedule-flower2{
      left: 70%;
      width: 500px;
    }
  }

  @media only screen and (max-width: 900px) {
    
    .wedding-party-timeline__inner::before{
      display: none;
    }

    .schedule-flower1{
      top: 130px;
      right: -30%;
      width: 400px;
    }

    .schedule-flower2{
      width: 400px;
      left: 62%;
    }

    .timeline-event {
      align-items: center; /* Centrerar händelserna */
      margin-bottom: 3rem; /* Justerar avståndet */
      text-align: center; /* Centrera texten */
      padding-left: 0; /* Återställ padding */
      padding-right: 0; /* Återställ padding */
    }
  
    .timeline-event.right,
    .timeline-event.right-food,
    .timeline-event.right-cake,
    .timeline-event.right-kids,
    .timeline-event.right-bus {
      justify-content: center; /* Centrera högerhändelser */
      padding-left: 0; /* Återställ padding */
    }

    .timeline-event.right-kids{
      padding-right: 110px;
    }
  
    .timeline-event.left,
    .timeline-event.left.left-dinner,
    .timeline-event.left.left-dance,
    .timeline-event.left.left-wave {
      justify-content: center; /* Centrera vänsterhändelser */
      padding-right: 0; /* Återställ padding */
    }

    .wedding-party-timeline__inner{
      margin: 0;
      padding: 2rem 0 0 0;
    }
  
    .timeline-event::before {
      display: none;
    }
  }
