.container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 2rem 0 2rem;
 }
 
 .schedule {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: #111111;
 
     &-image {
         transform: scaleX(-1);
         position: relative;
 
         &__item {
             transform: scaleY(-1);
             width: 600px;
             position: absolute;
             left: 30rem;
             top: -30rem;
         }
     }
 
     &-subheader {
         display: inherit;
         flex-direction: inherit;
         align-items: inherit;
         justify-content: inherit;
         text-align: center;
 
         &__item {
             font-family: "Parisienne", cursive;
             font-size: 2.5rem;
             margin-bottom: 0;
         }
 
         &__time {
             font-family: "Josefin Sans", sans-serif;
             margin-top: 16px;
             font-size: 2rem;
         }
     }
 
     &-area {
         display: inherit;
         flex-direction: inherit;
         align-items: inherit;
         justify-content: inherit;
 
         &__adress {
             font-family: 'Josefin Sans', sans-serif;
             font-size: 1.5rem;
             font-weight: 500;
             margin: 1rem 0 1rem 0;
         }
 
         &__cont {
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             flex-wrap: wrap;
         }
 
         &__link {
             text-align: center;
             font-family: 'Josefin Sans', sans-serif;
             text-decoration: underline;
             color: black;
             font-size: 1.5rem;
             font-weight: 600;
             transition: all 0.2s;
             margin-bottom: 1.5rem;
             color: rgb(97, 119, 112);
 
             &:hover {
                 scale: 1.1;
                 transform: all 0.2s;
             }
         }
 
         &__paragraph {
             font-family: "Josefin Sans", sans-serif;
             font-weight: lighter;
             text-align: center;
         }
     }
 
     &-header__item {
         font-family: 'Josefin Sans', sans-serif;
         letter-spacing: 2.5px;
         text-align: center;
         font-weight: 400;
         font-size: 3rem;
     }
 }


 
 /* Media Queries */
@media only screen and (max-width: 1450px) {
     .schedule-image__item {
         left: 15rem;
     }
}
 
@media only screen and (max-width: 1367px) {
     .container-inner {
         margin: 5rem 2rem 0 2rem;
     }
 
     .schedule-image__item {
         left: 11rem;
         top: -20rem;
     }
}
@media only screen and (max-width: 1250px) {
     .container-inner {
         margin: 5rem 2rem 0 2rem;
     }
 
     .schedule-image__item {
         left: 7rem;
         top: -20rem;
     }
}
@media only screen and (max-width: 1001px) {
 
     .schedule-image__item {
         left: 2rem;
         top: -20rem;
     }
}
@media only screen and (max-width: 1001px) {
 
     .schedule-image__item {
        width: 450px;
         left: 8rem;
         top: -15rem;
     }
}
@media only screen and (max-width: 800px) {
 
     .schedule-image__item {
        width: 450px;
         left: 4rem;
         top: -15rem;
     }
}
 
@media only screen and (max-width: 700px) {
     .schedule-header__item {
         font-size: 2rem;
         text-align: center;
     }
 
     .schedule-image__item {
        width: 450px;
         left: -2rem;
         top: -12rem;
     }
}
@media only screen and (max-width: 500px) {
     .schedule-header__item {
         font-size: 2rem;
         text-align: center;
     }
 
     .schedule-image__item {
        width: 450px;
         left: -8rem;
         top: -10rem;
     }
}
