@font-face {
    font-family: 'BrittanySignature';
    src: url('/RonjaAndPatrik/fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.image-copyright{
    z-index: 9999;
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 10px;
}

.container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .container.visible {
    opacity: 1;
    transform: translateY(0);
  }

.container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 2rem;
}

.slideshow {
    display: flex;
    justify-content: center;
    position: relative;
    width: 98vw;
    height: 500px; /* Justera höjden efter behov */
    overflow: hidden;
    border-radius: 20px;
  }
  
  .slideshow__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gör så att bilden fyller hela utrymmet och beskärs vid behov */
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .fade-inn {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-outt {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

.schedule {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #111111;

   &-image {
       transform: scaleX(-1);
       position: relative;

       &__item {
           transform: scaleY(-1);
           width: 600px;
           position: absolute;
           left: 30rem;
           top: -30rem;
       }
   }

   &-subheader {
       display: inherit;
       flex-direction: inherit;
       align-items: inherit;
       justify-content: inherit;
       text-align: center;

       &__item {
            font-family: 'BrittanySignature';
            font-size: 3rem;
            margin-bottom: 2rem;
       }

       &__time {
           font-family: "Josefin Sans", sans-serif;
           margin-top: 16px;
           font-size: 2rem;
       }
   }

   &-area {
       display: inherit;
       flex-direction: inherit;
       align-items: inherit;
       justify-content: inherit;

       &__adress {
           font-family: 'Josefin Sans', sans-serif;
           font-size: 1.5rem;
           font-weight: 500;
           margin: 1rem 0 1rem 0;
       }

       &__cont {
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           flex-wrap: wrap;
       }

       &__link {
           text-align: center;
           font-family: 'Josefin Sans', sans-serif;
           text-decoration: underline;
           color: black;
           font-size: 1.5rem;
           font-weight: 600;
           transition: all 0.2s;
           margin-bottom: 1.5rem;
           color: rgb(97, 119, 112);

           &:hover {
               scale: 1.1;
               transform: all 0.2s;
           }
       }

       &__paragraph {
           font-family: "Josefin Sans", sans-serif;
           font-weight: lighter;
           text-align: center;
       }
   }

   &-header__item {
       font-family: 'Josefin Sans', sans-serif;
       letter-spacing: 2.5px;
       text-align: center;
       font-weight: 400;
       font-size: 3rem;
       margin-top: 0;
   }
}



/* Media Queries */
@media only screen and (max-width: 1450px) {
   .schedule-image__item {
       left: 15rem;
   }
}

@media only screen and (max-width: 1367px) {
   .container-inner {
       margin: 5rem 2rem 0 2rem;
   }

   .schedule-image__item {
       left: 11rem;
       top: -20rem;
   }
}
@media only screen and (max-width: 1250px) {
   .container-inner {
       margin: 0 2rem 0 2rem;
   }

   .schedule-image__item {
       left: 7rem;
       top: -20rem;
   }
}
@media only screen and (max-width: 1001px) {

   .schedule-image__item {
       left: 2rem;
       top: -20rem;
   }
}
@media only screen and (max-width: 1001px) {

   .schedule-image__item {
      width: 450px;
       left: 8rem;
       top: -15rem;
   }
}
@media only screen and (max-width: 800px) {

   .schedule-image__item {
      width: 450px;
       left: 4rem;
       top: -15rem;
   }
}

@media only screen and (max-width: 700px) {
   .schedule-header__item {
       font-size: 3rem;
       text-align: center;
   }

   .schedule-image__item {
        width: 450px;
       left: -2rem;
       top: -12rem;
   }

   .schedule-subheader__time{
    font-size: 1.5rem;
   }

   .schedule-subheader__item{
        font-size: 2rem;
   }
}
@media only screen and (max-width: 500px) {
   .schedule-header__item {
       font-size: 3rem;
       text-align: center;
   }

   .schedule-image__item {
      width: 450px;
       left: -8rem;
       top: -12rem;
   }
}