.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25rem; /* Placera längst ner på sidan */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #111; /* Färgen på pilen */
    border-right: 2px solid #111;
    transform: rotate(45deg); /* Gör det till en pil */
    animation: moveArrow 1.5s infinite;
}

/* Separera translation från rotationen */
@keyframes moveArrow {
    0% {
        transform: translateY(0) rotate(45deg); /* Börja på ursprunglig plats */
    }
    50% {
        transform: translateY(10px) rotate(45deg); /* Flytta pilen nedåt */
    }
    100% {
        transform: translateY(0) rotate(45deg); /* Tillbaka till ursprunglig plats */
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &--second {
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease;
        height: 100vh;
        padding-bottom: 20rem;
        overflow: hidden;

        &.hidden {
            display: none;
            opacity: 0;
        }
    }

    &--first {
        display: none;
        opacity: 0;

        &.visible {
            display: block;
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    }

    .hero-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__image-container {
            height: 100%;
            display: flex;
            position: absolute; /* Bilden ligger bakom texten */
            z-index: 1; /* Lägre z-index än texten */

            &-denise{
                z-index: 100;
                height: auto;
            }
        }

        &__topic {
            position: absolute;
            top: 1%;
            left: 54%; /* Centrera horisontellt */
            transform: translate(-50%, -50%); /* För att säkerställa att texten är centrerad */
            color: #fff;
            font-family: 'BrittanySignature', sans-serif;
            font-size: 5rem;
            max-width: 90vw;
            width: 100%;
            text-align: center;
            padding-right: 6rem;
            opacity: 1;
            z-index: 10; /* Se till att texten visas över bilden */
            transition: opacity 1s ease-out, transform 1s ease-out;

            &.fade-in {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
            &-ronja,
            &-patrik {
                font-family: 'BrittanySignature', sans-serif;
                font-size: 4rem;
                font-weight: 100;
    
            }
            &-and {
                font-family: 'Josefin Sans', cursive;
                font-weight: 600;
                font-size: 1.5rem;
            }

        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            color: #111;

            &__topic-patrik {
                margin-top: 1rem;
            }

            &__topic-and {
                font-family: 'Josefin Sans', cursive;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }

    &-randp {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        opacity: 0; /* Start som osynlig */
        transform: translateY(20px); /* Liten förflyttning för effekt */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Definiera övergång */
    
        &.visible {
            opacity: 1;
            transform: translateY(0); /* Återställ positionen */
        }
    }
    

    &-image1 {
        &__item1 {
            width: 600px;
            right: -7%;
            top: -3rem;
            position: absolute;
            transform: none;
            transition: all 0.3s ease;
            object-fit: cover; /* För att säkerställa att bilden skalas korrekt */

            @media only screen and (max-width: 1250px) {
                // position: absolute;
                width: 500px;
                left: 66%;
                top: -2rem;
            }

            @media only screen and (max-width: 1000px) {
                // position: absolute;
                width: 350px;
                left: 70%;
                top: 0;
            }

            @media only screen and (max-width: 800px) {
                width: 350px;
                left: 64%;
            }

            @media only screen and (max-width: 650px) {
                width: 350px;
                left: 55%;
            }

            @media only screen and (max-width: 550px) {
                width: 350px;
                left: 47%;
            }

            @media only screen and (max-width: 450px) {
                width: 350px;
                top: -2rem;
                left: 40%;
            }

            @media only screen and (max-width: 350px) {
                width: 350px;
                top: -1rem;
                left: 38%;
            }
        }
    }

    &-image2 {
        transform: scaleX(-1);
        position: relative;

        &__item2 {
            width: 600px;
            position: absolute;
            left: 59rem;
            top: -33rem;
            transition: all 0.3s ease;
            object-fit: cover; /* För att säkerställa att bilden skalas korrekt */
            transform: scaleY(-1);

            @media only screen and (max-width: 2000px) {
                width: 600px;
                left: 93.5rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1921px) {
                width: 600px;
                left: 89rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1850px) {
                width: 600px;
                left: 86rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1825px) {
                width: 600px;
                left: 85rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1750px) {
                width: 600px;
                left: 79rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1600px) {
                width: 600px;
                left: 70rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1550px) {
                width: 600px;
                left: 66rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1500px) {
                width: 600px;
                left: 63rem;
                top: -35rem;
            }

            @media only screen and (max-width: 1441px) {
                width: 600px;
                left: 60rem;
                top: -35rem;
            }
            @media only screen and (max-width: 1350px) {
                width: 600px;
                left: 56rem;
                top: -32rem;
            }
            @media only screen and (max-width: 1250px) {
                width: 500px;
                left: 52rem;
                top: -31rem;
            }
            @media only screen and (max-width: 1130px) {
                width: 500px;
                left: 45rem;
                top: -31rem;
            }

            @media only screen and (max-width: 1000px) {
                width: 350px;
                left: 44rem;
                top: -25rem;
            }

            @media only screen and (max-width: 950px) {
                width: 350px;
                left: 41rem;
                top: -25rem;
            }

            @media only screen and (max-width: 880px) {
                left: 37rem;
                top: -23rem;
            }

            @media only screen and (max-width: 800px) {
                left: 32rem;
                top: -20rem;
            }
            @media only screen and (max-width: 730px) {
                left: 27rem;
                top: -20rem;
            }

            @media only screen and (max-width: 650px) {
                left: 22rem;
                top: -20rem;
            }

            @media only screen and (max-width: 550px) {
                left: 16rem;
                top: -20rem;
            }

            @media only screen and (max-width: 450px) {
                left: 12rem;
                top: -23rem;
            }

            @media only screen and (max-width: 350px) {
                left: 8rem;
                top: -23rem;
            }
        }
    }

    @media only screen and (max-width: 867px) {
        .hero--first .hero-inner__topic {
            font-size: 4rem;
            padding-right: 1rem;
            opacity: 1;
        }
    }

    /* Anpassa för mindre skärmar */
    @media only screen and (max-width: 800px) {
        .hero-randp {
            position: relative;
            object-fit: cover;
            object-position: 56% 0%;
            height: 100vh;
        }

        .hero-inner__image-item2 {
            display: none;
        }

        .hero--first .hero-inner__image-container .hero-inner__image-item {
            width: 100%;
        }

        .hero-inner__topic {
            font-size: 2.7rem !important;
            margin-top: 5rem;
            left: 52% !important;
            padding-right: 1rem;
            opacity: 1;
        }

        .hero-inner__topic-ronja,
        .hero-inner__topic-patrik {
            font-size: 3rem !important;
        }
    }

    @font-face {
        font-family: 'BrittanySignature';
        src: url('/fonts/BrittanySignature.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap; /* Gör att fallback-fonten visas direkt */
    }
}