@font-face {
    font-family: 'BrittanySignature';
    src: url('/RonjaAndPatrik/fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &-image1{
        

        &__item1{
            width: 650px;
            right: -7%;
            top: 0;
            position: absolute;
        }

        @media only screen and (max-width: 1150px) {
            .hero-image1__item1 {
                right: -7rem;
                top: 0;
            }
        }
        @media only screen and (max-width: 680px){
            .hero-image1__item1{
                width: 400px;
                left: 50%;
                top: 2rem;
            }
        }
        @media only screen and (max-width: 550px){
            .hero-image1__item1{
                width: 400px;
                left: 40%;
                top: 2rem;
            }
        }
        @media only screen and (max-width: 450px){
            .hero-image1__item1{
                width: 400px;
                left: 28%;
                top: 1rem;
            }
        }
        @media only screen and (max-height: 700px) {
            .hero-image1__item1 {
                width: 400px;
                left: 35%;
                top: -1rem;
            }
        }
        
        @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
            .hero-image1__item1 {
                width: 500px;
                left: 71%;
                opacity: 100;
            }
        }
        @media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: landscape) {
            .hero-image1__item1 {
                width: 500px;
                left: 66%;
                opacity: 100;
            }
        }
    }
    &-image2{
        transform: scaleX(-1);
        position: relative;

        &__item2{
            transform: scaleY(-1);
            width: 650px;
            position: absolute;
            left: 89rem;
            top: -8rem;
        }
        @media only screen and (max-width: 1800px) {
            .hero-image2__item2 {
                left: 78rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 1600px) {
            .hero-image2__item2 {
                left: 66rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 1450px) {
            .hero-image2__item2 {
                left: 59rem;
                width: 600px;
                top: -13rem;
            }
        }
        @media only screen and (max-width: 1290px) {
            .hero-image2__item2 {
                left: 47rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 1100px) {
            .hero-image2__item2 {
                left: 37rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 995px) {
            .hero-image2__item2 {
                left: 30rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 900px) {
            .hero-image2__item2 {
                left: 25rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 800px) {
            .hero-image2__item2 {
                left: 18rem;
                top: -8rem;
            }
        }
        @media only screen and (max-width: 680px) {
            .hero-image2__item2 {
                width: 400px;
                left: 22rem;
                top: 2rem;
            }
        }
        @media only screen and (max-width: 600px) {
            .hero-image2__item2 {
                width: 400px;
                left: 18rem;
                top: 2rem;
            }
        }
        @media only screen and (max-width: 550px) {
            .hero-image2__item2 {
                width: 400px;
                left: 14rem;
                top: 3rem;
            }
        }
        @media only screen and (max-width: 450px) {
            .hero-image2__item2 {
                width: 400px;
                left: 8rem;
                top: 1rem;
            }
        }
        @media only screen and (max-height: 700px) {
            .hero-image2__item2 {
                width: 400px;
                left: 7rem;
                top: -1rem;
            }
        }
        
        @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
            .hero-image2__item2 {
                width: 500px;
                left: 60rem;
                opacity: 100;
            }
        }
    }
    
    @media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: landscape) {
        .hero-image2__item2 {
            width: 500px;
            left: 50rem;
            opacity: 100;
        }
    }
    /* Första sektionen: Bilder och text */
    &--first {
        background-color: #f0f0f0;

        .hero-inner {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .hero-inner__image-container {
            display: flex; /* Lägger bilderna bredvid varandra */
            width: 100%;
            height: 100%;

            .hero-inner__image-item {
                width: 50%; /* Anpassar sig efter förälderns bredd */
                height: auto; /* Låter höjden anpassa sig till bredden */
                object-fit: cover;
                -webkit-object-fit: cover; /* För Safari */
            }
            
        }

        .hero-inner__topic {
            position: absolute; /* Placera texten ovanpå bilderna */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Centrerar texten */
            color: white;
            font-family: 'BrittanySignature', sans-serif;
            font-size: 8rem;
            width: 100%;
            margin: 1rem 0rem 1rem 0rem;
            z-index: 10; /* Placera texten ovanpå */
            text-align: center;
        }
    }

    /* Andra sektionen: Namnen */
    &--second {
        box-sizing: content-box;
        background-color: #ffffff;

        .hero-inner__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 2rem; /* Lägg till lite padding för bättre spacing på små skärmar */
            color: #111111;
        }
        
        @media only screen and (max-width: 768px) {
            .hero-inner__content {
                padding: 1rem; /* Minska padding på mobiler */
            }
        }

        .hero-inner__topic-ronja,
        .hero-inner__topic-patrik {
            font-family: 'BrittanySignature', sans-serif;
            font-size: 4rem;
            font-weight: 100;
        }

        .hero-inner__topic-patrik{
            margin-top: 1rem;
        }

        .hero-inner__topic-and {
            font-family: 'Josefin Sans', cursive;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 1450px) {
    /* CSS-regler för skärmar med max 768px bredd (t.ex. surfplattor eller mobiler) */
    .hero-image1__item1 {
        width: 600px;
        right: -8%;
    }

}

@media only screen and (max-width: 1367px){
    
    .hero--first .hero-inner__topic{
        font-size: 6rem;
    }

}

@media only screen and (max-width: 800px){
    .hero-inner__image-item2{
        display: none;
    }

    .hero--first .hero-inner__image-container .hero-inner__image-item{
        width: 100%;
    }

    .hero-inner__topic{
        font-size: 5rem !important;
    } 

    .hero-inner__topic-ronja{
        font-size: 3rem !important;
    }
    .hero-inner__topic-patrik{
        font-size: 3rem !important;
    }
}
